@if (TempData["success"] != null)
{
	@* <h2> @TempData["success"]</h2> *@

	<div class="alert alert-dismissible alert-success">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Well done!</strong>@TempData["success"]
	</div>
}

@if (TempData["error"] != null)
{
	@* <h2> @TempData["success"]</h2> *@

	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>WoW!</strong>@TempData["error"]
	</div>
}